body{
    background-color: beige;
}
img, video{
	max-width: 100%;
	height: auto;
    object-position: 100px 0px;
}
h1{
    position: relative;
    left: 236px;
    font-size: 50px;
}
h2{
    position: relative;
    left: 236px;
}
p{
    font-size: 24px;
    position: relative;
    left: 236px;
}
.sidebar{
    background-color: white;
    position:fixed;
    
}
figure{
    max-width: 10%;
    height: auto;
}